.menu {
    background-color: blueviolet;
  
}
.menu article{
    max-width: 840px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
    padding: 15px;
    background-color: #dac156;
    border-radius: 5px;
}
.menu h1{
    text-align: center;
    font-size: 5em;
}